.grid {
     background: #212022;
    background: linear-gradient(135deg, #212022 40%, #1A191B 100%);
     height:100%;
     min-height:300px;
     width: 100%;
     border-radius: 20px;
     overflow:hidden;
     /* display:flex; */
     box-sizing:border-box;
     padding: 30px 50px 30px 50px;
     view-timeline-name:--image;
     view-timeline-axis: block;
     animation-timeline:--image;
     animation-name: showdown;
     animation-range:entry 25% cover 30%;
     animation-fill-mode:both;
}
.grid h1{
    display:block;
    width:100%;
    font-size:70px;
    line-height:70px;
    margin-bottom:0px;
    text-align: center;
}

.grid h3{
    display:block;
    width:100%;
    font-size:24px;
    line-height:28px;
    
}
.grid1 p{
    display: block;
    width:100%;
    font-size:18px;
    line-height:22px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin:0 auto;
    grid-gap:10px;
    min-height:100vh;
    padding:2rem 10rem;
}
.grid1{
    grid-column:1/4;
    grid-row:1/1;
}

.grid1 img{
    width:16rem;
}
.grid2 img{
    object-fit:cover;
    width: 100%;
    height:100%;
}
.grid2{
    grid-column:4/6;
    grid-row:1/1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid3{
    text-align: center;
    grid-column:1/2;
    grid-row:2/2;
    justify-content: center;
     align-items: center;
     display:flex;
    flex-direction: column;
    padding:0px;
}
.grid4{
    grid-column:2/3;
    grid-row:2/2;
    padding:0px;
    justify-content: center;
    align-items: center;
    display:flex;
   flex-direction: column;
}
.grid5{
    grid-column:3/6;
    grid-row:2/2;
    padding: 0px;
    justify-content: center;
     align-items: center;
     display:flex;
    flex-direction: column;
}
.grid5 p{
    display: block;
    text-align: center;
    line-height:70px;

}
/* .grid5 div{
    justify-content: center;
     align-items: center;
     display:flex;
    flex-direction: column;
    height:100%;
} */
.grid6{
    grid-column:1/3;
    grid-row:3/3;
    justify-content: center;
    
}
.grid7{
    grid-column:3/5;
    grid-row:3/3;
}
.grid8{
    grid-column:5/6;
    grid-row:3/3;
}



.scroll{
    position:relative;
    display: flex;
    width:100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg,transparent,#fff 20%, #fff 80%, transparent);
}
.scroll div{
    white-space: nowrap;
}

.scroll div span{
    display:inline-flex;
    margin:10px;
    background: #11524a;
    color:#fff;
    padding: 5px 10px;
    border-radius:5px;
    transition: 0.5s;
    font-size: 100px;
}
.scroll div:nth-child(2){
    white-space:nowrap;
}
.scroll1 div{
    animation:scroll 60s linear infinite;
    animation-delay: calc(60s * -1);
}
.scroll1 div:nth-child(2){
    animation:scroll2 60s linear infinite;
    animation-delay: calc(60s / -2);
}
.scroll2 div{
    animation:scroll 40s linear infinite;
    animation-delay: calc(40s * -1);
}
.scroll2 div:nth-child(2){
    animation:scroll2 40s linear infinite;
    animation-delay: calc(40s / -2);
}

.tech-stack-container{
    justify-content: center;
     align-items: center;
     text-align: center;
     text-wrap: balance;
}
.stack-icon{
    width:70px;
    height:70px;
    margin:0px 5px 5px 5px;
    animation: jump 5s infinite linear;
}
.contact-container{
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing:2px;
    font-size:25px;
    font-weight: 600;
}
.mail-icon{
    width:50px;
    height:50px;
    margin:0px 5px 5px 5px;
    display: inline-block;
    vertical-align: middle;
    gap:10px;
    
}
.contact-button{
    cursor: pointer;

    background:#19756a;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background 0.2s;
}
.contact-button:hover{
    background-color: #2abeac;
}
.contact-button p{
    font-size: 16px;
    color:#fff;
}
.contact-icon{
    width:50px;
    height:50px;
    display: inline-block;
    vertical-align: middle;
    gap:10px;
}
.contact-icon g{
    fill:#fff!important;

}
.pdf-icon{
    padding:5px;
    width:40px;
    height:40px;
}
.contact-button + .contact-button{
    margin-left:20px;
}
.contact-icon + p{
    display: inline-block;
}
.barcelona-image{
    width:90%;
    height:90%;
    margin:auto;
    border-radius:20px;
    object-fit: cover;
    
}
.barcelona-text{
    position:absolute;
    background-color: #21202290;
    /* -webkit-text-stroke: 3px #ffffff; */
    color:#ffffff;
    font-size:38px;
    font-family: helvetica;
    font-weight: 800;
    top:-10px;
}
/* .stack1{
    animation: jump 5s infinite linear;
    
}
.stack2{
    animation: jump 5s infinite linear;
    animation-delay: 0.2s;
}
.stack3{
    animation: jump 5s infinite linear;
    animation-delay: 0.4s;
}
.stack4{
    animation: jump 5s infinite linear;
    animation-delay: 0.6s;
}
.stack5{
    animation: jump 5s infinite linear;
    animation-delay: 0.8s;
}
.stack6{
    animation: jump 5s infinite linear;
    animation-delay: 1s;
}
.stack7{
    animation: jump 5s infinite linear;
    animation-delay: 1.2s;
}
.stack8{
    animation: jump 5s infinite linear;
    animation-delay: 1.4s;
}
.stack9{
    animation: jump 5s infinite linear;
    animation-delay: 1.6s;
} */
@keyframes jump {
    0%{
        transform: translateY(0px);
    }
    33%{
        transform: translateY(10px);
    }
    66%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes showdown {
    from{
        opacity: 0;
        scale:25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

@keyframes scroll {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes scroll2 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}

@media only screen and (max-width:1200px) {
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        padding:2rem;
        
    }
    [class^="grid"]{
        grid-column:auto;
        grid-row:auto;
    }
    
}
@media only screen and (max-width:768px) {
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        padding:2rem;
        
    }
    [class^="grid"]{
        grid-column:auto;
        grid-row:auto;
    }
    
}