.head-container{
    height:100vh;
    width:100%;

    background: #101d22;
    background: radial-gradient(circle, #201F20 30%, #191819 40%);
    color:#F1EFF1;
    font-family:courier;
    text-align: center;
    box-sizing:border-box;
}
.header-buttons-container{
    width: 608px;
    margin:auto;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}
.circular-landscape{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.square-landscape{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
}
.blur-effect {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 300px;
    height: 10px; /* Altura del efecto de desenfoque */
    background: linear-gradient(to top, rgba(32, 31, 32, 1) 0%, rgba(32, 31, 32, 0) 100%);
    pointer-events: none; /* Para que no interfiera con la interacción */
}
.user-picture{
    position:absolute;
    width: 100%;
    left:-20px;
}
.head-container h2{
    background: rgb(241,239,241);
    background: linear-gradient(90deg, #2abeac 20%, #23a293 65%);
    line-height: 115%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.head-container h1{
    background: rgb(241,239,241);
    background: linear-gradient(90deg, #f5f5f5 20%, #c9c9c9 65%);
    line-height: 115%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.head-container label{
    color: #2abeac;
    display: inline-block;
    width:140px;
    height:40px;
    border-radius: 6px;
    border:1px solid transparent;
    line-height:40px;
    cursor:pointer;

}
.head-container label:hover{
    border:1px solid #2abeac;
}
.head-container label{
    margin:10px 10px 10px 0px;
}
@media only screen and (max-width:768px) {
    .header-buttons-container{
        width:auto;
    }
    
}

