.footer-section{
    width:100%;
    background:#11524A;
    height:200px;
    box-sizing: border-box;
    padding: 30px 50px;

}
.footer-title{
    font-size:24px;
}
.footer-text{
    font-size:20px;
}
.div-50{
    width:50%;
    display: inline-block;
    text-align: center;
}
.footer-links{
    font-size:18px;
    cursor:pointer;
    margin:0px 30px 5px 30px;
    display:inline-block;
}
.footer-links:hover{
    text-decoration: underline;
}